---
layout: archive
---

{{ content }}


{% assign filter1 = "faqs" %}
{% assign filter2 = "documents" %}


{% assign categories_max = 0 %}

{% for post in site.categories[filter1] %}
  {% assign sub_cate = post.categories[1] %}
  {% if site.categories[sub_cate].size > categories_max %}
    {% assign categories_max = site.categories[sub_cate].size %}
  {% endif %}
{% endfor %}

<ul class="taxonomy__index">
  {% for i in (1..categories_max) reversed %}
    {% for category in site.categories %}
        {% for post in site.categories[filter1] %}

          {% assign sub_cate = post.categories[1] %}

            {% if category[0] == sub_cate and category[1].size == i %}
              <li>
                <a href="#{{ category[0] | slugify }}">
                  <strong>{{ category[0] }}</strong> <span class="taxonomy__count">{{ i }}</span>
                </a>
              </li>
              {% break %}
            {% endif %}

        {% endfor %}
    {% endfor %}
  {% endfor %}
</ul>


{% assign entries_layout = page.entries_layout | default: 'list' %}

{% for i in (1..categories_max) reversed %}
  {% for category in site.categories %}
    {% for post in site.categories[filter1] %}

      {% assign sub_cate = post.categories[1] %}

      {% if category[0] == sub_cate and category[1].size == i %}

        <section id="{{ category[0] | slugify | downcase }}" class="taxonomy__section">
          <h2 class="archive__subtitle">{{ category[0] }}</h2>
          <div class="entries-{{ entries_layout }}">

            {% for post in category.last %}
              {% if post.categories[0] == filter1 %}
                {% include archive-single.html type=entries_layout %}
              {% endif %}
            {% endfor %}

          </div>
          <a href="#page-title" class="back-to-top">{{ site.data.ui-text[site.locale].back_to_top | default: 'Back to Top' }} &uarr;</a>
        </section>
        {% break %}

      {% endif %}

    {% endfor %}
  {% endfor %}
{% endfor %}

